.nav>ul>li:not(:last-child) {
    /* 目录之间的间隔 */
    margin-right: 41px;
    float: left;
}

.nav>ul>li:last-child {
    float: left;
}

.nav>ul>li:nth-child(3)>a {
    color: #f15956;
}

.nav>ul>li>a {
    /* 目录的字体 */
    font-family: MicrosoftYaHei;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 70px;
    letter-spacing: 0px;
    color: #ffffff;
}

.nav>ul>li:nth-child(3) {
    /* 给第二栏加猫爪背景 */
    background: url(../../image/paw.png) no-repeat;
    width: 64px;
}

.logo {
    /* 顶部Logo的样式 */
    float: left;
    padding-top: 31px;
}

.header {
    /* 顶部的样式 */
    margin-top: 11px;
    height: 80px;
}

.nav {
    /* 右侧导航栏 */
    float: left;
    margin-left: 74px;
    padding-top: 16px;
    ;
}

.nav>ul>li>a:hover {
    /* 鼠标移动时，目录栏的变化 */
    color: #f15956;
}

body {
    background: url(../../image/intro/introbac.png) no-repeat;
}