.footer {
    height: 60px;
    background-color: #f9f4ee;
    text-align: center;
    margin-top: 26px;
    float: left;
    width: 100%;
}

.footer>span {
    font-family: MicrosoftYaHei;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #999999;
    display: block;
    padding-top: 20px;
}

.footer>span>a:hover {
    color: red;
}

.paw {
    width: 100px;
    height: 100px;
    float: right;
    margin-top: 88px;
}